<% if (locals.user && locals.user.isValidated) { %>
    <% if (locals.user.type === "patient") { %>
        <%- include('./navConnected'); -%>
    <% } else if (locals.user.type === "docteur") {%> 
        <%- include('./navConnectedMed'); -%>
    <% } else if (locals.user.type === "pharmacien") {%> 
        <%- include('./navConnectedPhar'); -%>
    <% } else { %> 
        <%- include('./navSimple'); -%>
    <% } %>   
<% } else { %>
    <%- include('./nav'); -%>
<% } %> 
<% if (locals.flash) { %> 
    <% if (typeof locals.flash.success != undefined && locals.flash.success) { %> 
        <div class="sectiongreen flash"><span><%= locals.flash.success %></span></div>
    <% } %> 
    <% if(typeof locals.flash.error != undefined && locals.flash.error) { %> 
        <div class="sectionred flash"><span><%= locals.flash.error %></span></div>
    <% } %> 
<% } %> 
