<% if (locals.user) { %>
    <% if (locals.user.type === "patient") { %>
        <%- include('./navConnected'); -%>
    <% } else if (locals.user.type === "médecin") {%> 
        <%- include('./navConnectedMed'); -%>
    <% } else if (locals.user.type === "pharmacien") {%> 
        <%- include('./navConnectedPhar'); -%>
    <% } else { %> 
        <%- include('./navSimple'); -%>
    <% } %>   
<% } else { %>
    <%- include('./nav'); -%>
<% } %> 
<% if (locals.flash) { %> 
    <% if (typeof locals.flash.success != undefined) { %> 
        <div class="sectiongreen flash"><%= locals.flash.success %> </div>
    <% } else if(typeof locals.flash.error != undefined) { %> 
        <div class="sectionred flash"><%= locals.flash.error %> </div>
    <% } %> 
<% } %> 
