<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/connectionPage.css"/>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <div class="body">
        <h2 class="title">Se connecter en tant que pharmacien</h1>
        <section>
            <div class="container">
                    <form action="/pharmacien/connexion" method="post">
                        <div class="modifier__input__container">
                            <input class="modifBox" name="email" placeholder="Email" pattern="^[a-z0-9._+-]+@[a-z0-9.-_]+\.[a-z]{2,4}$">
                            <input class="modifBox" name="password" type="password"  placeholder="Mot de passe">
                        <div style="width: 100%;">
                            <a href="/motdepasseoublie/pharmacien"><p class="register">mot de passe oublié ?</p></a>
                        </div>
                        <% if (locals.error){ %> 
                            <p style="color:var(--danger_light);display:block;width:100%;text-align:center;margin:0 auto;"><%= locals.error %> </p>
                        <% } %>                         
                        <button class="btngreen" type="submit">Se connecter</button>
                        <div class="signup">
                            <p class="descSignup">Pas de compte ?</p>
                            <a href="/pharmacien/inscription" class="signinbx">S'inscrire</a>
                        </div>
                    </form>
            </div>
        </section>
    </div>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
    <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
</body>
</html>