<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/connectionPage.css"/>
    <style>
        .textConsigne span {
            display: block;
        }
    </style>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <div class="body">
        <h2 class="title">S'inscrire en tant que Pharmacien</h1>
        <section>
            <div class="container">
                <div class="container">
                    <div class="formulaire">
                        <form action="/pharmacien/inscription" method="post" class="form" enctype="multipart/form-data">
                            <div class="profile__input__container" style="margin-bottom: 0px;">
                                <input class="profilBox" name="name" placeholder="Nom" required>
                                <input class="profilBox" name="firstName" placeholder="Prenom" required>
                                <input class="profilBox" name="city" placeholder="ville de travail" required>
                                <input class="profilBox" name="address" placeholder="adresse de travail" required>
                                <input class="profilBox" name="zipcode" placeholder="code postale" required>
                                <select class="profilBox" name="gender" id="" required>
                                    <option value="homme">Homme</option>
                                    <option value="femme">Femme</option>
                                    <option value="neutre">Ne se prononce pas</option>
                                </select>
                                <input class="profilBox" name="email" placeholder="Email" pattern="^[a-z0-9._+-]+@[a-z0-9.-_]+\.[a-z]{2,4}$" required>
                            </div>
                            <div class="profile__input__container" style="padding-left: 1rem;margin-bottom: 0px;margin-top:0px;">
                                <p class="titleConsigne" style="margin: 10px 30px 10px 0;display:block;">
                                    Preuve de profession
                                </p>
                                <input type="file" name="fileUpload">
                            </div>
                            <div class="profile__input__container" style="padding-left: 1rem;margin-bottom: 0px;margin-top:0px;">
                                <p class="titleConsigne" margin-bottom: 0px;>
                                    Consigne du mot de passe
                                </p>
                            </div>
                            <div class="profile__input__container" style="margin-bottom: 0px;margin-top:0px;">
                                <p class="textConsigne">
                                    <span id="js-password__length"> Au moins 8 caractères</span>
                                    <span id="js-password__mini"> Au moins 1 minuscule</span>
                                    <span id="js-password__cap"> Au moins 1 majuscule</span>
                                    <span id="js-password__digit"> Au moins 1 chiffre</span>
                                    <span id="js-password__special-char"> Au moins 1 caractère spécial</span>
                                </p>
                            </div>
                            <div class="profile__input__container" style="margin-top:0px; margin-bottom: 0px;">
                                <input id="js-password" class="profilBox" name="password" type="password"  placeholder="Mot de passe" require>
                            </div>
                            <div class="profile__input__container" style="margin-top:0px;margin-bottom: 0px;">
                                <input class="profilBox" name="password_check" type="password"  placeholder="Répéter le mot de passe" require>
                            </div>
                            <% if (locals.error){ %> 
                                <p style="color:var(--danger_light);display:block;width:100%;text-align:center;margin:0 auto;"><%= locals.error %> </p>
                            <% } %> 
                            <button class="btngreen" style="margin:20px auto;" type="submit">S'inscrire</button>
                        </form>
                        <div class="signup">
                            <p class="descSignup">Déjà un compte ?</p>
                            <a href="/pharmacien/connexion" class="signinbx">Se connecter</a>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <script src="/src/js/register.js"></script>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
    <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
</body>
</html>