<!DOCTYPE html>
<html>
    <head>
        <%- include('../layouts/header'); -%>
        <link rel='stylesheet' type='text/css' media='screen' href='/src/css/createPrescription.css'>
        
        
    
    </head>
    <body>
        <%- include('../layouts/nav/connectionManager'); -%>

        <div id="doctorInfos">
            <div id="doctorInfosLeft">
                <h3 class="doctorTextLeft">Docteur</h3>
                <h3 class="doctorTextLeft"><%= ordonnance.doctor.name %></h3>
            </div>
            <div id="doctorInfosRight">
                <div id="doctorInfosRightTop">
                    <h3 class="doctorTextRight"><%= ordonnance.doctor.address %></h3>
                    <h3 class="doctorTextRight"><%= ordonnance.doctor.zipcode %>, <%= ordonnance.doctor.city %></h3>
                </div>
            </div>
        </div>

        <div class="fixedRight">
            <h3 id="madeWhereWhen" class="doctorText">Fait le <%= ordonnance.date_creation.toLocaleDateString() %></h3>
        </div>

        <div id="infosPatient">
            <h3>
                <% if (ordonnance.patient.gender === 'homme'){ %>
                    M
                <% } %>
                <% if (ordonnance.patient.gender === 'femme'){ %> 
                    Mme
                <% } %> 
            </h3>
            <h3> <%= ordonnance.patient.name %>  <%= ordonnance.patient.firstname %></h3>
        </div>

        <div id="prescription">
            <div id="prescriptionTab">
                <table>
                    <thead>
                        <tr>
                            <th scope="firtLine" style="width: 20%;">Nom du médicament</th>
                            <th scope="firtLine" style="width: 25%;">Description du traiement</th>
                            <th scope="firtLine" style="width: 15%;">Mentions (facultatif)</th>
                            <th scope="firtLine" style="width: 10%;">Quantité</th>
                            <th scope="firtLine" style="width: 10%;">Reste a délivrer</th>
                            <th scope="firtLine" style="width: 10%;">Délivrer</th>
                            <th scope="firtLine" style="width: 10%;"></th>                            
                        </tr>
                    </thead>
                    <tbody id="prescriptionBody">
                        <% ordonnance.listAttributions.forEach((attribution) => { 
                            let som = 0; %>
                        <tr>
                            <td><%= attribution.drug.name %> </td>
                            <td><%= attribution.description %> </td>
                            <td>
                                <div id="mentionsRow">
                                    <% attribution.listMentions.forEach(mention => { %>
                                        <p class="mentionInRow"><%= mention.name %> </p>
                                    <% }) %> 
                                </div>
                            </td>
                            <td><%= attribution.quantity %> </td>
                            <td><% if (attribution.listGivenAttributions === null) { %>
                                <%= attribution.quantity %>
                                <% } %> 
                                <% if (attribution.listGivenAttributions != null) { %>
                                    <% const quantity = attribution.listGivenAttributions.map((e) => e.quantity);
                                        
                                        for (let i = 0; i < quantity.length;i++) {
                                            som += quantity[i];
                                        } %>
                                            <%= (attribution.quantity - som) %>                                            
                                <% }  %>
                            </td>
                            <td class="tdcase">
                                <select class="greencase">
                                    <% for (let j = 0; j <= (attribution.quantity - som); j++) { %>
                                        <option><%= j %></option>
                                    <% } %>
                                </select>
                            </td>
                            <td class="signal">Signaler un problème</td>
                        </tr>
                        <%  }) %> 
                    </tbody>
                </table>   
            </div>
        </div>

        <div id="tips">
            <div id="tipsTab"></div>
                <table>
                    <thead>
                        <tr>
                            <th scope="firtLine" style="width: 100%;">Conseils</th>
                        </tr>
                    </thead>
                    <% ordonnance.listCouncils.forEach(council => { %>
                    <tbody id="tipsBody">
                        <td style="text-align: left;padding-left: 30px;"><%= council.description %> </td>
                    </tbody>
                    <%  }) %> 
                </table>  
            </div> 
        </div>

        <div class="center">
            <button class="btngreen" style="margin-top: 40px;" id="createOrdonnanceButton" type="button" onclick="validerAttribution()">Valider et fermer</button>
        </div>
        <%- include('../layouts/footer/footerManager'); -%>
        <%- include('../layouts/scripts'); -%>

        <script src='/src/js/validerAttribution.js'></script>
        <script defer src="/src/js/all.js"></script> <!--load all styles -->
    </body>
</html>