<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <style>
        h1 {
            width: 100%;
            text-align: center;
        }
        h1, h2, h3, h4, h5 {
            color: var(--dark);
        }
        .container {
            margin: 2rem auto;
            width: 1000px;
            border: 2px solid var(--dark);
            border-radius: 10px;
            padding: 20px;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        span {
            width: 100%;
            text-align: center;
            font-weight: bold;
            text-decoration: underline;
        }
        .btn-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .btn-container a {
            margin: 0 2rem;
        }
    </style>
</head>
<body>
    <%- include('../layouts/nav/connectionManagerAdmin'); -%>
    <div class="container">
        <h1><%= locals.pro.firstname + " " + locals.pro.name %> </h1>
        <h2>Spécialité : <%= locals.proType %> </h2>
        <h4>Lieu d'exercice : <%= locals.pro.city %> </h4>
        <h4>Code postal d'exercice : <%= locals.pro.zipcode %> </h4>
        <h4>Adresse d'exercice : <%= locals.pro.address %> </h4>
        <span>Justificatif : </span>
        <img src="<%= locals.pro.proofPath %>" alt="">
        <div class="btn-container">
            <a href="/administration-eazhgzje54456645ghaeza-backoffice-ljdfskdf4545jsd-security/accepter/<%= locals.link %>"><button class="btngreen">Valider le profil</button></a>
            <a href="/administration-eazhgzje54456645ghaeza-backoffice-ljdfskdf4545jsd-security/refuser/<%= locals.link %>"><button class="btndanger">Refuser le profil</button></a>
        </div>
    </div>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
</body>
</html>