<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
</head>
<style>
    @media screen and (max-width:1105px) {
        .profilBox {
            width: 100%;
        }
    }
    @media screen and (max-width:1105px) {
        .profilBoxGrey {
            width: 100%;
        }
    }
    @media screen and (max-width:720px) {
        .darkSide {
            display: none;
        }
    }
</style>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
   <div class="profil">
        <%- include('../layouts/profiledarknav'); -%>
       <div class="profil__right__section">
           <h2 style="color:var(--darkblue); margin:20px auto;">Modifier mon mot de passe</h2>
           <form class="form">
                <div class="modifier__input__container">
                    <input class="modifBox" type="password" placeholder="mot de passe actuel">
                    <div class="profile__input__container" style="margin-bottom: 0px;margin-top:0px;">
                        <p class="textConsigne">
                            Au moins 8 caractères<br>
                            Au moins 1 minuscule<br>
                            Au moins 1 majuscule<br>
                            Au moins 1 chifre<br>
                            Au moins 1 caractère spécial<br>
                            Ne contient pas votre nom/pénom
                        </p>
                    </div>
                    <input class="modifBox" type="password" placeholder="nouveau mot de passe">
                    <input class="modifBox" type="password" placeholder="répéter nouveau mot de passe">
                    <p style="color:var(--danger_light);display:block;width:100%;text-align:center;padding:1rem 2rem">Mot de passe incorrect</p>
                    <button class="btngreen btn" style="margin: 20px auto;">Valider</button>
                </div> 
            </form>
       </div>
   </div>
   <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
</body>
</html>