<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
    <% if (locals.user.type === "patient") { %> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../../src/js/patientProfile.js"></script>
    <% } %> 
</head>
<style>
    @media screen and (max-width:1105px) {
        .profilBox {
            width: 100%;
        }
    }
    @media screen and (max-width:1105px) {
        .profilBoxGrey {
            width: 100%;
        }
    }
    @media screen and (max-width:720px) {
        .darkSide {
            display: none;
        }
    }
    .textConsigne span {
        display: block;
    }
</style>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
   <div class="profil">
        <%- include('../layouts/profiledarknav'); -%>
       <div class="profil__right__section">
           <h2 style="color:var(--darkblue); margin:20px auto;">Modifiez votre mot de passe</h2>
           <form class="form" method="post">
                <div class="modifier__input__container">
                    <input class="modifBox" name="oldPassword" type="password" placeholder="mot de passe actuel">
                    <div class="profile__input__container" style="margin-bottom: 0px;margin-top:0px;">
                        <p class="textConsigne">
                            <span id="js-password__length"> Au moins 8 caractères</span>
                            <span id="js-password__mini"> Au moins 1 minuscule</span>
                            <span id="js-password__cap"> Au moins 1 majuscule</span>
                            <span id="js-password__digit"> Au moins 1 chiffre</span>
                            <span id="js-password__special-char"> Au moins 1 caractère spécial</span>
                        </p>
                    </div>
                    <input class="modifBox" name="newPassword" id="js-password" type="password" placeholder="nouveau mot de passe">
                    <input class="modifBox" name="repeatPassword" type="password" placeholder="répéter nouveau mot de passe">
                    <% if (locals.error){ %> 
                        <p style="color:var(--danger_light);display:block;width:100%;text-align:center;margin:0 auto;"><%= locals.error %> </p>
                    <% } %>                        
                    <button class="btngreen btn" style="margin: 20px auto;">Valider</button>
                </div> 
            </form>
       </div>
   </div>
   <div id="coverPage" ></div>
   <div id="QRCodeDiv" style="display: none;">
        <h3 id="qrPatientText">Votre QR Code patient</h3>
        <img id="qrcode" src="">  
        <p class="textCenter" onclick="closeQR()">Fermer</p>
    </div>
    <%- include('../layouts/footer/footerManager'); -%>
    <script src="/src/js/register.js"></script>
    <%- include('../layouts/scripts'); -%>
</body>
</html>