<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
    <script src="./../../src/js/recupQrcodeOrdonnance.js"></script>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <section class="sectiondark">
        <p>Montrez votre ordonnance à la pharmacie afin de récupérer vos médicaments</p>
    </section>
    <section class="sectionwhiteConnected" style="height:100%;">
        <h2 style="color: var(--darkblue);">Mes ordonnances valides</h2>
<<<<<<< HEAD
        <% for(var i=0; i < locals.OrdonnancesObjects.length; i++){ %>
            <div class="mesordonnances">
                <article class="consultation">
                    <div>
                        <p class="date">Ma consultation du <%= locals.OrdonnancesObjects[i].prescriptions.date_creation %></p>
                        <p class="peremption">Date de péremption : <%= locals.OrdonnancesObjects[i].prescriptions.date_creation %> (ajouter 12 mois)</p>
                    </div>
                    <div>
                        <p class="doctor"><%= locals.OrdonnancesObjects[i].doctor.name %></p>
                    </div>
                    <div class="voirgenerer">
                        <a href=""><button class="btngreensmall">Voir</button></a>
                        <a href=""><button class="btndark">Générer QR CODE</button></a>
                    </div>
                </article>
            </div>
        <%}%>
=======
        <div class="mesordonnances">
            <article class="consultation">
                <div>
                    <p class="date">Ma consultation du 17 juin 2021</p>
                    <p class="peremption">Date de péremption : 18 septembre 2021</p>
                </div>
                <div>
                    <p class="doctor">Dr Pathy - podologue</p>
                </div>
                <div class="voirgenerer">
                    <a href=""><button class="btngreensmall">Voir</button></a>
                    <a href=""><button class="btndark" onclick="getQRcode()">Générer QR CODE</button></a>
                </div>
            </article>
>>>>>>> 62d124bf9fa2719124eea5bf0fffda642615a749
        </div>
    </section>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
</body>
</html>