<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <section class="sectiondark">
        <p>Montrez votre ordonnance à la pharmacie afin de récupérer vos médicaments</p>
    </section>
    <section class="sectionwhiteConnected" style="height:100%;">
        <h2 style="color: var(--darkblue);">Vos ordonnances valides</h2>
        <p style="color:var(--dark);font-size:1.1rem;margin: 0 auto; display:block;text-align:center;">Vous avez 3 mois pour récupérer vos médicaments prescrits en pharmacie. La durée du traitement est elle valide pendant maximum un an</p>
        <div class="mesordonnances" style="margin-top: 2rem;">
        <% locals.listPrescriptions.forEach((prescription) => { %>
                <article class="consultation">
                    <div>
                        <% let dateCreation = new Date(prescription.date_creation) %>
                        <% dateCreation.setMonth(dateCreation.getMonth() + 3) %> 
                        <p class="date">Ma consultation du <%= prescription.date_creation.toLocaleDateString() %></p>
                        <p class="peremption" style="font-size: 1rem;padding-top: 0.35rem;">Date péremption prescription : <%= dateCreation.toLocaleDateString() %></p>
                    </div>
                    <div>
                        <% if (prescription.doctor.name) { %> 
                            <p class="doctor">Dr <%= prescription.doctor.name %></p>
                        <% } %> 
                    </div>
                    <div class="voirgenerer">
                        <a href=""><button class="btngreensmall">Voir</button></a>
                        <button class="btndark" onclick="showQR('<%= prescription.encryptedId %>')">Générer QR CODE </button>
                    </div>
                </article>
            <% }) %>
        </div>
    </section>

    <div id="coverPage">
    
        
    </div>

    <div id="QRCodeDiv" style="display:none">
        <h3 id="qrPatientText"></h3>
        <img id="qrcode">
        <p id="pd"></p>
    </div>

    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
    <script src="/src/js/recupQrcodeOrdonnance.js"></script>

</body>
</html>