<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
</head>
<style>
    @media screen and (max-width:1105px) {
        .profilBox {
            width: 100%;
        }
    }
    @media screen and (max-width:720px) {
        .darkSide {
            display: none;
        }
    }
    @media screen and (max-width:1105px) {
        .profilBoxGrey {
            width: 100%;
        }
    }
</style>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <section class="sectionred">
        <h3>Votre adresse mail n'a pas été vérifiée !</h3>
        <p style="font-size: 0.9rem;">Vous ne pouvez pas transmettre vos informations via un QR code sans avoir vérifié votre email</p>
    </section>
   <div class="profil">
        <%- include('../layouts/profiledarknav'); -%>
       <div class="profil__right__section">
           <h2 style="color:var(--darkblue)">Mon profil</h2>
           <form class="form" action="">
                <div class="profile__input__container">
                   <input class="profilBox" type="text" name="" id="" placeholder="Nom">
                   <input class="profilBox" type="text" name="" id="" placeholder="Prénom">
                   <input class="profilBox" type="text" name="" id="" placeholder="Date de naissance">
                   <input class="profilBoxGrey" type="text" name="" id="" placeholder="email@email.com" disabled>
                </div>
                <p style="color:var(--danger_light);display:block;width:100%;text-align:center;padding:1rem 2rem">Attention une fois votre compte validé par un médecin vous ne pourez plus modifier certaines informations</p>
                <button class="btngreen btn">Valider</button>
           </form>
       </div>

       
   </div>
   <div id="QRCodeDiv" style="display: block;">
        <h3>Votre QR Code patient</h3>
        <img id="qrcode" src=<%= ProfilObject.qrcode %> >  
    </div>
   <%- include('../layouts/footer/footerManager'); -%>
   <%- include('../layouts/scripts'); -%>
</body>
</html>