<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/home.css">
    <script src="../../src/js/patientProfile.js"></script>
</head>
<style>
    @media screen and (max-width:1105px) {
        .profilBox {
            width: 100%;
        }
    }
    @media screen and (max-width:720px) {
        .darkSide {
            display: none;
        }
        .nav-profil {
            display: block;
        }
    }
    @media screen and (max-width:1105px) {
        .profilBoxGrey {
            width: 100%;
        }
    }
</style>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <section class="sectionred">
        <h3>Votre adresse mail n'a pas été vérifiée !</h3>
        <p style="font-size: 0.9rem;">Vous ne pouvez pas transmettre vos informations via un QR code sans avoir vérifié votre email</p>
    </section>
   <div class="profil">
        <%- include('../layouts/profiledarknav'); -%>
       <div class="profil__right__section">
           <h2 style="color:var(--darkblue)">Votre profil</h2>
           <form class="form" action="">
                <div class="profile__input__container">
                    <% const user = ProfilObject.user %> 
                    <input class="profilBoxGrey"  value = "<%- user.name %>" >
                    <input class="profilBoxGrey" value = "<%- user.firstname %>" >
                    <input class="profilBox" type="date" value = "<%- user.birthdate.toISOString().slice(0, 10) %>" >
                    <input class="profilBoxGrey" value = "<%- user.email %> ">
                </div>
                <p style="color:var(--danger_light);display:block;width:100%;text-align:center;padding:1rem 2rem">Attention une fois votre compte validé par un médecin vous ne pourez plus modifier certaines informations</p>
                <button class="btngreen btn">Valider</button>
           </form>
       </div>

       
   </div>
   <div id="coverPage" >
    </div>
   <div id="QRCodeDiv" style="display: none;">
        <h3 id="qrPatientText">Votre QR Code patient</h3>
        <img id="qrcode" src=<%= ProfilObject.qrcode %> >  
        <p class="textCenter" onclick="closeQR()">Fermer</p>
    </div>
   <%- include('../layouts/footer/footerManager'); -%>
   <%- include('../layouts/scripts'); -%>
</body>
</html>