<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header'); -%>
    <title>OrdOn</title>
    <link rel="stylesheet" href="/src/css/connectionPage.css"/>
</head>
<body>
    <%- include('../layouts/nav/connectionManager'); -%>
    <div class="body">
        <h1 class="title">S'inscrire en tant que Patient</h1>
        <section>
            <div class="container">
                <div class="formulaire">
                    <form action="/patient/inscription" method="post">
                        <% if (locals.error) { %> 
                            <p style="color:var(--danger);"><%= locals.error %> </p>
                        <% } %> 
                        <div>
                            <input class="inputID champ1" name="name" placeholder="Nom" required>
                            <input class="inputID champ2" name="firstname" placeholder="Prenom" required>
                        </div>
                        <div>
                            <input class="inputID champ3" name="birthdate" type="date" placeholder="Date de naissance" required>
                            <input class="inputID champ2" name="email" placeholder="Email" type="email" pattern="^[a-z0-9._+-]+@[a-z0-9.-_]+\.[a-z]{2,4}$" required>
                        </div>
                        <div class="confidential">
                            <div>
                                <input class="inputID champ3" name="weight" type="text" placeholder="Poids">
                            </div>
                            <div>
                                <p class="titleConsigne">
                                    Consigne du mot de passe
                                </p>
                                <p class="textConsigne">
                                    Au moins 8 caractères<br>
                                    Au moins 1 minuscule<br>
                                    Au moins 1 majuscule<br>
                                    Au moins 1 chifre<br>
                                    Au moins 1 caractère spécial<br>
                                    Ne contient pas votre nom/pénom
                                </p>
                            </div>
                            <div>
                                <input class="inputID champ2" name="password" type="password"  placeholder="Mot de passe" require>
                            </div>
                            <div>
                                <input class="inputID champ2" name="password_check" type="password"  placeholder="Répéter le mot de passe" require>
                            </div>
                        </div>
                        <input class="boutton" type="submit" value="Se connecter">
                    </form>
                </div>
            </div>
        </section>
    </div>
    <%- include('../layouts/footer/footerManager'); -%>
    <%- include('../layouts/scripts'); -%>
    <script src="https://kit.fontawesome.com/7c35e24fba.js" crossorigin="anonymous"></script>
</body>
</html>